@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;

  font-family: 'Jost', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

p {
  margin-bottom: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3.2rem 0 3.2rem;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 7.594rem;
}

h2 {
  font-size: 5.063rem;
}

h3 {
  font-size: 3.375rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1rem;
}

a,
button,
li,

p {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

/**************************/
/* MODAL */
/**************************/

.modal {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(222 214 214 / 40%);
  backdrop-filter: blur(10px);
}

.modal-container {
  border: 4px solid brown;
  padding: 2rem 3rem 2rem 3rem;
  max-width: 400px;
  margin: 2rem auto 4rem auto;
  background-color: rgb(255, 248, 248);
}
